* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clock {
    margin: 10em auto 10em auto;
    border-radius: 100%;
    border: 3px solid black;
    height: 400px;
    width: 400px;
    position: relative;
    
}

.hours {
    width: 140px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 200px;
    left: 180px;
    transform-origin: 20px 50%;
    transform: rotate(-90deg);
    animation: hours 10s infinite linear;
}

.min {
    width: 200px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 200px;
    left: 180px;
    transform-origin: 20px 50%;
    animation: min 5s infinite linear;
}

@keyframes hours {
    form {
        transform: rotate(-90deg);
    }

    to {
        transform: rotate(270deg);
    }
}

@keyframes min {
    form {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}